# dependencies
node_modules/

# build output
dist/

# environment
.env
.env.*
.env.local

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# typescript
*.tsbuildinfo

# test coverage
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo
